root = true

[*.py]
indent_style = space
trim_trailing_whitespace = true
indent_size = 4

[*.{md,yml,yaml,feature}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
